 {#{% block content %}#}
{##}
{##}
{##}
{#  <div class="row">#}
{#    <div class="col-md-6">#}
{#      <h2>RSS Feeds</h2>#}
{#      <ul>#}
{#        {% for rss_feed in rss_feeds %}#}
{#          <li><a href="{{ rss_feed.url }}">{{ rss_feed.title }}</a></li>#}
{#             <div class="entry-content clearfix">#}
{#              <p>&nbsp&nbsp {{ rss_feed.expert}}</p>#}
{#              <div class="read-more cl-effect-14">#}
{#        {% empty %}#}
{#          <li>No RSS feeds added yet.</li>#}
{#           <p>ID: {{ id }}</p>#}
{#        {% endfor %}#}
{#      </ul>#}
{#      <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button type="submit" class="btn btn-primary">Add RSS Feed</button>#}
{#      </form>#}
{#    </div>#}
{#    <div class="col-md-6">#}
{#      <h2>Actions</h2>#}
{#      <a href="{% url 'rss_refresh_all' %}" class="btn btn-primary">Refresh All RSS Feeds</a>#}
{#    </div>#}
{#  </div>#}
{#{% endblock %}#}

{% load static %}
<!DOCTYPE html>

<html>
  <head>
      <title>管理员界面&amp;聚合</title>

      <!-- meta -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- css -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- css -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
      <link rel="stylesheet" href="{%  static 'css/pace.css' %}">
      <link rel="stylesheet" href="{%  static 'css/custom.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <!-- js -->
      <script src=" {%  static 'js/jquery-2.1.3.min.js '%}"></script>
      <script src="{%   static 'js/bootstrap.min.js '%}"></script>
      <script src="{%   static 'js/pace.min.js '%}"></script>
      <script src="{%   static 'js/modernizr.custom.js '%}"></script>
  </head>
  <body>

<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="headindex.html"><b>Rss</b> &amp;聚合      </a></h1>  <h3>

                    {% if username %}
             <p>欢迎 {{ username }} 管理员！</p>
                      {% endif %}

                </h3>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>



                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="#">

                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div><!-- col-md-8 -->
        </div>
    </header>
</div>
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/">网页模板</a></div>
<div class="copyrights">Modified by <a href="http://zmrenwu.com/">追梦人物的博客</a></div>
 <div id="app">

  <div class="content-body">
    <div class="container">

      <div class="row">

        <main class="col-md-8">
        <ul class="list-group">
            {% for u in  alluser %}
    <li class="list-group-item">{{ u.name }}
       <form action="{% url 'accounts:udelete' u.name  %}" method="post">   {% csrf_token %}<button type="submit" class="btn  btn-sm">删除</button>   </form>

    </li>

          {% endfor %}
       </ul>

        </main>

      </div>

    </div>
  </div>


 </div>



<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="/headindex ">首页</a></li>
            <li><a href="full-width.html">博客</a></li>
            <li><a href="about.html">关于</a></li>
            <li><a href="contact.html">联系</a></li>
        </ul>
    </nav>
</div>



      <!-- 其它内容 -->
<script src="../static/js/script.js"></script>
<script>




</script>

  </body>
</html>